.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 30%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.card img {
    width: 100%;
    max-width: 20rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
